POSTGRES_DB=shop
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/shop
SPRING_DATASOURCE_USERNAME=shop
SPRING_DATASOURCE_PASSWORD=shop

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

SHOP_ORDERS_QUEUE=orders.queue
SHOP_CORS_ALLOWED_ORIGIN=http://localhost:3000

SHOP_MINIO_ENDPOINT=http://minio:9000
SHOP_MINIO_ACCESS_KEY=minioadmin
SHOP_MINIO_SECRET_KEY=minioadmin
SHOP_MINIO_BUCKET=shop-images
SHOP_MINIO_PUBLIC_BASE_PATH=/media

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin